/*******************************************************************************
 * Variables used throughout the theme.
 * To adjust anything, simply edit the variables below and rebuild the theme.
 ******************************************************************************/

// Colors
$red-color:           #D35F5F !default; // Less intense red
$red-color-dark:      #9B1B1B !default; // Darker red

$orange-color:        #BC7734 !default; // More earthy orange

$blue-color:          #4C7F9F !default; // Less intense blue
$blue-color-dark:     #345279 !default; // Darker blue

$cyan-color:          #628D9F !default; // More muted cyan
$light-cyan-color:    lighten($cyan-color, 25%);

$green-color:         #408F59 !default; // Less intense green
$green-color-lime:    #A3B96B !default; // More muted lime green
$green-color-dark:    #297E30 !default; // Darker green
$green-color-light:   #BFE1BF !default; // More muted light green
$green-color-bright:  #3FAF76 !default; // Less bright green

$purple-color:        #8E397A !default; // Less intense purple
$light-purple-color:  lighten($purple-color, 25%);

$pink-color:          #BF6480 !default; // More muted pink
$pink-color-light:    #FFDFDF !default; // Lighter pink

$yellow-color:        #BFAF60 !default; // More earthy yellow

$grey-color:          #6E6E6E !default; // Mid-tone grey
$grey-color-light:    lighten($grey-color, 40%);
$grey-color-dark:     #1E1E1F;
$grey-900:            #212529;

$white-color:         #FAFAFA !default; // Off-white
$black-color:         #202020 !default; // Off-black



// Theme colors

$code-bg-color-light:     rgba($purple-color, 0.05);
$code-bg-color-dark:      #2c3237 !default;

// Font awesome location
$fa-font-path: "../webfonts";